@{
    ViewBag.Title = "Calendar Upload";
}

<h2>@ViewBag.Title</h2>

<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload Excel Calendar</label>
    <input type="file" class="form-control-file" id="calendarSubmit">
  </div>
</form>
<div style="display: none" id="calImage">
  <p>Something goes here</p>
</div>