@{
    ViewBag.Title = "Calendar Upload";
}

<h2 id="tester">@ViewBag.Title</h2>

<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload Excel Calendar</label>
    <input type="file" class="form-control-file">
  </div>
  <button id="fakeSub">Upload</button>
</form>
<div style="display: none" id="calImage">
  <p>Something goes here</p>
</div>

<script>
  window.onload = function(){
    var fakeSub = document.getElementById("fakeSub");
    if(fakeSub){
      fakeSub.onclick = function(){fakeSub.style.display = "block";}
    }
  }
</script>